.containers{
  background-color: #F1F3FF;
  border-radius: 25px;
  margin:0px;
    height:100%;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    padding-bottom: -50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: Poppins;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F1F3FF;
  font-family: Poppins;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  header {
    background-color: #141b25;
  }

  .main-nav {
    height: 90px;
    padding-top: 18px;
  }
  .logo {
    color: #4E4F62;
    line-height: 90px;
    font-size: 27pt;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
   
  background-color: transparent;
  background-image: url(userDesigns/user_images/brain.png);
  background-repeat: no-repeat;
  background-size: 60px;
  }
  .logo:hover{
      text-decoration: none;
       color: #4E4F62;
  }
  .navlinks {
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  .navlinks li {
    display: inline-block;
    margin: 0px -30px;
  }
  .navlinks li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.1s linear 0s;
    margin: 80px;
  }
  .navlinks li a:hover {
    color: #4663E5;
    padding-bottom: 7px;
    border-bottom: 2px solid #7ebcb9;
  }
  .active{
      border-bottom: 2px solid #34626C;
      border-radius:1px;
      color: green;
  }
  li a.signIn {
    background-color: #4BD6F3;
    color: #F1F3FF;
    padding: 9px 20px;
    border-radius: 9px;
    transition: all 0.3s ease 0s;
    border-bottom: none;
  }
  li a.signIn:hover {
    background-color: #047e85;
    color: white;
    border-bottom: none;
  }
  #check {
    display: none;
  }
  .menu-btn {
    font-size: 25px;
    color: #4663E5;
    float: right;
    line-height: 90px;
    display: none;
    cursor: pointer;
  }
  @media (max-width: 1280px) {
    .navlinks {
      position: fixed;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: all 0.5s;
      right: -100%;
      background: #8FAADC;
      z-index:1
    }
    .navlinks li {
      display: block;

    }
    .navlinks li a {
      font-size: 20px;
    }
    .navlinks li a:hover {
      border-bottom: none;
    }
    .menu-btn {
      display: block;
    }

    #check:checked ~ .navlinks {
      right: 0;
    }
  }
  @media (max-width: 1280px) {
    .logo {
      font-size: 25px;
      background-size: 20%;
    }

  }
  @media (max-width: 360px) {
    /*.logo {
      margin-left: 10px;
      font-size: 25px;
    }*/
    .menu-btn {
      margin-right: 10px;
      font-size: 25px;
    }
    .menu-btn:focus {
      color: blue;
    }
  }
  @media (max-width: 1360px) {
    .quotation{
        font-size: 1pt;
        color: transparent;
    }
    .easier, .it{
        font-size: .05pt;
    }
    .pic{
      margin-top: -50px;
    }
    .logo{
      font-size: 4vh;
      background-size: 20%;
    }
    .psico{
      margin-left: -5px;
    }
    .booking{
      margin-top: 150px;
    }
  }

  /*.doctor{
      margin-right: 100px;
      margin-left: 100px;
      margin-bottom: 0;
  }*/

 
  .pic{
    height: 30%;
    width: 30%;

  }
  .cont{
    margin-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1360px) {
    .pic{
        height: 50%;
        width: 50%;
    }
    .rows{
        margin-top: -150px;
    }
  }
  .quotation{
    
      font-size: 38pt;
      font-family: Roboto;
      margin-right: 15px;
  }
  .easier{
      color: #5B76E8;
  }
  .column {
        float: left;
        width: 25%;
        padding: 10px;
        height: 130px; 
        box-sizing: border-box;
          align-items: center;
          justify-content: center;
  }
  .column h2{
      padding-left: 20px;
      font-size: 1.5rem;
      font-family: Poppins;
  }
  .column p{
      padding-left: 20px;
      font-size: 1rem;
  }
  .column3 {
        float: left;
        align-content: center;
        width: 10%;
        padding: 10px;
        padding-bottom: 50px;
        height: 130px; 
        box-sizing: border-box;
        display: flex;
          align-items: center;
          justify-content: center;
  }

  .book{
      background-color: #4663E5;
      color: #F1F3FF;
      border-radius: 50px;
      width: 150px;
        max-width: 290%;
        padding: 15px;
      height: 70px;
      max-height: 90%;
      border-color: transparent;
      font-family: Poppins;
      font-size: 10pt;
      display:inline-block;
      cursor: pointer;
      margin-top: 20px;
      }
      .book:hover{
          background-color: rgba(70, 99, 229, .8);
      }
      .head{
        font-size: 21pt;
      }
  
  .rows{
      font-size: .7vw;
      background-color: rgb(241, 243, 255);
       width: 76%;
       height: 120%;
       border-radius: 20px;
       min-height: 100%;
       min-width: 50vh;
       position: absolute;
       justify-content: center;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .rows:after {
    content: "";
    display: table;
    clear: both;

  }
  @media screen and (max-width:480px){
  .doctorCont{
      display: block;
}
}
.booking{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
   transform: transform: translate(0%, 0%);
}

.secondCont{
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 50px;
}
.firstBox{
  background-color: #F1F3FF;
  height: 350px;
  width: 280px;
  border-radius: 20px;
  margin-top: 30px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   box-sizing: border-box;
   transform: transform: translate(-80%, -80%);
  padding-top: 50px;
  float: left;
  min-height: 5vh;
  min-width: 5vh;
  display: inline-block;
  font-family: Poppins;

}
.care{
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
}
.first, a{
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
.read{
  color: #4663E5;
  font-weight: bold;
}

.yourself{
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(userDesigns/user_images/yourself.png);
  background-repeat: no-repeat;
  background-size: 50px;
  margin-left: 50px;

}
div.firstBox:hover, .yourself:hover{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      }
.friends{
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(userDesigns/user_images/friends.png);
  background-repeat: no-repeat;
  background-size: 50px;
  margin-left: 50px;

}
.family{
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(userDesigns/user_images/family.png);
  background-repeat: no-repeat;
  background-size: 50px;
  margin-left: 50px;

}
.boxes{
  width: 100%;
  height: auto;
  background-color: ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.foots{
  height: auto;
  background-color: #DEEBF7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}
.footer1{
  background-color: transparent;
  height: 350px;
  width: 300px;
  margin-top: 30px;
   box-sizing: border-box;
  transform: transform: translate(-80%, -80%);
  padding-top: 50px;
  float: left;
  min-height: 5vh;
  min-width: 5vh;
  display: inline-block;
  font-family: Poppins;
}

.facebook{
  background-image: url(userDesigns/user_images/facebook.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.instagram{
  background-image: url(userDesigns/user_images/instagram.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.twitter{
  background-image: url(userDesigns/user_images/twitter.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
footer{
  margin-top: 60px;
  background-color: transparent;
  padding-left: 0;
  width: 100%;
  min-width:100%;
      max-width:100%;

}
.logoBottom{
  height: 50px;
  width: 350px;
  background-color: transparent;
  background-image: url(userDesigns/user_images/noLabelLogo.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
.logonameBot{
  margin-left: 53px;
  padding-top: 9px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15pt;
  color: #4E4F62;
}
.psico{
      color: #4E4F5D;
    }
label{
  color: #485EAB;
  cursor: pointer;
}
.learn{
  color: #555658;
  padding: 5px;
}
.learn:hover{
  text-decoration: none;
}